body {
    color: #464e70;
    margin: 0;
    padding: 0;
    background: #3cd0a6;
}

.container {
    // background-color: #3cd0a6;
    height: 732px;
  }
.row {
    padding: 50px 100px 0;
 }
.col-sm-4 {
   margin: 0 auto; 
 }
.side-up h2{
    text-align: center;
 }
.card {
  margin: 10px auto;
  border-radius: 15px;
  background-color:  #f8f4e6;
  }
.main-up h2{
    text-align: center;  
}
.card-body {
    margin-bottom: 20px; 
    // display: flex;
}
// .card-icon {
//     height: 100px;
//     width: 100px;
//     background-color:#3caed0;
//     margin-right: 20px;
// }
.card-content {
    width: 100%;
}

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}